/* Mel's CSS */

main.size-smaller .sj-book h1, 
main.size-smaller .sj-book h2, 
main.size-smaller .sj-book .book-content {
  font-size: 0.8rem;
}

main.size-small .sj-book h1, 
main.size-small .sj-book h2, 
main.size-small .sj-book .book-content {
  font-size: 0.9rem;
}

main.size-normal .sj-book h1, 
main.size-normal .sj-book h2, 
main.size-normal .sj-book .book-content {
  font-size: 1rem;
}

main.size-big .sj-book h1, 
main.size-big .sj-book h2, 
main.size-big .sj-book .book-content {
  font-size: 1.1rem;
  margin: 1.9rem 1.25rem;
}

main.size-bigger .sj-book h1, 
main.size-bigger .sj-book h2, 
main.size-bigger .sj-book .book-content {
  font-size: 1.2rem;
  margin: 0.9rem 1.2rem;
}

/******************************************************************/

main.line-normal .sj-book h1, 
main.line-normal .sj-book h2, 
main.line-normal .sj-book .book-content p {
  line-height: initial;
}


main.line-big .sj-book h1, 
main.line-big .sj-book h2, 
main.line-big .sj-book .book-content p {
  line-height: 1.4;
}

main.line-bigger .sj-book h1, 
main.line-bigger .sj-book h2, 
main.line-bigger .sj-book .book-content p {
  line-height: 1.6;
}

/******************************************************************/

main.font-arial .sj-book h1, 
main.font-arial .sj-book h2, 
main.font-arial .sj-book .book-content {
  font-family: Arial, Helvetica, sans-serif;
}

main.font-lato .sj-book h1, 
main.font-lato .sj-book h2, 
main.font-lato .sj-book .book-content {
  font-family: 'Lato', sans-serif;
}


main.font-tahoma .sj-book h1, 
main.font-tahoma .sj-book h2, 
main.font-tahoma .sj-book .book-content {
  font-family: "Tahoma, sans-serif"; 
}

main.font-verdana .sj-book h1, 
main.font-verdana .sj-book h2, 
main.font-verdana .sj-book .book-content {
  font-family: "Verdana,Geneva,sans-serif";
}

/******************************************************************/

main.uppercase .sj-book h1, 
main.uppercase .sj-book h2, 
main.uppercase .sj-book .book-content {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 1.5rem 1.25rem;
}